.config/hypr/hyprpaper.conf
.config/VSCodium/Backups/
.config/VSCodium/blob_storage/
.config/VSCodium/Cache/
.config/VSCodium/CachedData/
.config/VSCodium/CachedProfilesData/
.config/VSCodium/Code Cache/
.config/VSCodium/Crashpad/
.config/VSCodium/DawnGraphiteCache/
.config/VSCodium/DawnWebGPUCache/
.config/VSCodium/Dictionaries/
.config/VSCodium/GPUCache/
.config/VSCodium/Local Storage/
.config/VSCodium/logs/
.config/VSCodium/Session Storage/
.config/VSCodium/Shared Dictionary/
.config/VSCodium/Cookies
.config/VSCodium/Cookies-journal
.config/VSCodium/languagepacks.json
.config/VSCodium/machineid
.config/VSCodium/Network Persistent State
.config/VSCodium/Preferences
.config/VSCodium/SharedStorage
.config/VSCodium/TransportSecurity
.config/VSCodium/Trust Tokens
.config/VSCodium/Trust Tokens-journal
