@import url('file:///home/riskirills/.cache/wal/colors-waybar.css');

* {
	font-size: 12;
	font-family: monospace;
}

window#waybar {
	background: @background;
	color: @background;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#tray {
	background: @color12;
}

#workspaces {
    border-radius: 0px 10px 10px 0px;
    border: 0px solid transparent;
}

#workspaces button {
	padding: 0 2px;
	color: @color2;
}
#workspaces button.focused {
	color: @background;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: @background;
	border: @background;
	padding: 0 3px;
}

#pulseaudio {
	color: @background;
}
#memory {
	color: @background;
}
#cpu {
	color: @background;
}
#battery {
	color: @background;
}
#disk {
	color: @background;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
